%html{lang: "ja"}
%head
  %meta{charset: "utf-8"}
  %title
%body
.wrapper
  .head
    グループを作成しました
  .box
    .leftbox
      .leftHeader
        .leftHeader__box
          .leftHeader__box__username
            ユーザーの名前
          .leftHeader__box__menu
            .leftHeader__box__menu__newGroup
              = fa_icon 'cog'
            .leftHeader__box__menu__edit
              = fa_icon 'edit'
      .groups
        .group
          .group__groupName
            グループ名
          .group__comment
            グループの最新コメント
            
    .mainBox
      .mainHeader
        .mainHeader__leftBox
          .mainHeader__leftBox__currentGroup
            今のグループ名
          .mainHeader__leftBox__memberList
            グループメンバーの名前
        .mainHeader__btn
          Edit

      .messages
        .message
          .message__info
            .message__info__talker
              test-user
            .message__info__date
              2019.10
          .message__text
            おはよう
      .form
        .newMessage
          .inputBox
            .inputBox__text
              入力
            .inputBox__image
              = fa_icon 'image'
          .sendBtn
            send
  