

      .messages
        .message
          .message__info
            .message__info__talker
              test-user
            .message__info__date
              2019.10
          .message__text
            おはよう
      .form
        .newMessage
          .inputBox
            .inputBox__text
              入力
            .inputBox__image
              = fa_icon 'image'
          .sendBtn
            send
  
